<script type="text/javascript">
    var doctorsData =<%= raw State.all.collect(&:doctors_data).to_json %>;
    var nursesData =<%= raw State.all.collect(&:nurses_data).to_json %>;
</script>

<ul class="nav nav-tabs">
  <li class="active"><a href="#doctors" data-toggle="tab">Doctors</a></li>
  <li><a href="#nurses" data-toggle="tab">Nurses</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="doctors">
    <%= render "doctor_map" %>
  </div>

  <div class="tab-pane" id="nurses">
    <%= render "nurses_map" %>
  </div>
</div>
