<h1>Listing states</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
    <tr>
      <td><%= state.name %></td>
      <td><%= link_to 'Edit', edit_state_path(state) %></td>
    </tr>
    <% end %>
  </tbody>
</table>